.algorithm-list-wrapper {
  min-height: 100vh;
  /* background-color: #121212;
  color: white; */
}

.algorithm-main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}

/* 왼쪽 태그 영역 */
.tag-sidebar {
  min-width: 180px;
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.tag-sidebar-title {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 12px;
}

.tag-button {
  display: block;
  background-color: #2a2a2a;
  color: #80cbc4;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #444;
  margin-bottom: 8px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.tag-button.active {
  background-color: #3e3e3e;
  color: #ffffff;
  font-weight: bold;
}

/* 오른쪽 문제 영역 */
.algorithm-content {
  flex: 1;
}

.algorithm-list-title {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.algorithm-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.algorithm-card {
  width: 100%;
  padding: 30px;
  min-height: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.algorithm-card:hover {
  transform: translateY(-5px);
}

.algorithm-card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
  margin-bottom: 16px;
}

.algorithm-card h3 {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

.algorithm-card p {
  font-size: 17px;
  color: #cccccc;
}
